[submodule "3rd-party/pfunit"]
	path = 3rd-party/pfunit
	url = git://git.code.sf.net/p/pfunit/code
[submodule "3rd-party/zlib"]
	path = 3rd-party/zlib
	url = git@github.com:madler/zlib.git
[submodule "3rd-party/hdf5"]
	path = 3rd-party/hdf5
	url = git@github.com:HDFGroup/hdf5.git
