[submodule "3rd-party/pfunit"]
	path = 3rd-party/pfunit
	url = git://git.code.sf.net/p/pfunit/code
[submodule "3rd-party/netcdf-c"]
	path = 3rd-party/netcdf-c
	url = https://github.com/Unidata/netcdf-c
[submodule "3rd-party/netcdf-fortran"]
	path = 3rd-party/netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran
